{
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "parser": "flow",
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all"
}
